/* -------------------------------------PARTIE 1 -------------------------------------------*/

.bg-dark{
    background-color: #636363 !important;
    height: 100vh;
}

.container-header, .contenu-header {
    height: 95%;
}

.navbar{
    position: relative;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

.navbar-nav li{
    margin: auto 30px;
    font-weight: bold;
}

.navbar-collapse{
    position: absolute;
    width: 330px;
    height: 40px;
    top: .4rem;
    right: 5rem;
}

.new_branding{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.branding {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

header p, header a{
    color: #f6f6f6;
    text-decoration: none !important;
}

.bouton_header {
    animation: 1.5s bougetamere infinite ;
    border-radius: 50%/50%;

}

@keyframes bougetamere {

    0%{
        transform: translateY(-10px);
    }

    50%{
        transform: translateY(0px);
        box-shadow:white 0px 0px 2px;
    }

    100%{
        transform: translateY(-10px);
    }
}


/* ----------------------------------- PARTIE 2 ---------------------------------------- */
.signature {
    background-color: #f6f6f6;
}

.compteur{
    background-image: url(images/fond_pt3.png);
    background-repeat: repeat-y repeat-x;
    min-height: 258px;
    color: #f6f6f6;
}

.compteur p{
    padding: 0 ;
    margin: 0 1.2rem;
}

/* ---------------------------------- PARTIE 4 ------------------------------------------- */


.card-columns .card{
    margin: 5px auto;
    padding: 0;
}


@media screen and (max-width : 1200px){

    .card-columns{
        column-count: 2;
    }
}

@media screen and (max-width : 992px){

    .card-columns{
        column-count: 2;
    }

    .card{
        width: 100% !important;
        height: auto;
    }
}

@media screen and (max-width : 768px){
   .container{
        max-width: none;
    }
    
    .navbar-nav{
        display: flex;
        flex-direction: column;
    }
    
    .navbar-collapse{
        position: absolute;
        width: 330px;
        height: 40px;
        top: .4rem;
    }

    .card-columns{
        column-count: 1;
    }

    .card{
        width: 100% !important;
        height: auto;
    }
}


@media screen and (max-width : 576px){

    .card{
        width: 100% !important;
        height: auto;
    }
}

/*FONT FAMILY*/

body{
    margin: 0;
}
/**************CONTAINER-FLUID**************/
.citation .container-fluid{
    background-image: url("images/img_citation.png");
}
.sponsors .container-fluid{
    background-color: white;
}
.blog .container-fluid{
    background-color: #f6f6f6;
    height: 857px;
}
.contact .container-fluid{
    background-color: #f6f6f6;
    height: 623px;
}

footer .container-fluid-1{
    background-color: black;
    height: auto;
}
footer .container-fluid-2{
    background-color: black;
    height: auto;
}

/**************TITRES ET PARAGRAPHES***********/
.blog h3{
    font-family: 'Playfair Display', serif;
    font-size: 20px;

}
.blog  .text-dark{
    font-size: 12px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: black !important;
}

.contact .title-contact{
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    padding-top: 95px;
}

.blog h2{
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    padding-top: 109px;
}
footer .title-footer{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding-top: 93px;
}
footer .p-about .p-tweet, .contact p, .blog p, .text-copyright{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
}
.blog p{
    line-height: 23px;
}


footer li{
    list-style-image: url('images/logo-twitter.png');
}

/**********CAROUSEL-CITATION**********/  

.citation .carousel-caption {
    position: absolute;
    z-index: 10;
    color: #fff;
    text-align: center;
    padding-bottom: 160px;
    font-family: 'Playfair Display', serif;
   font-style: italic;
   font-size: 20px;
   max-width: 600px;
   width: 100%;
   left: 23%;
}

/***********BARRE DE DEFILEMENT**********/
.citation .carousel-indicators li{
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%;
        background-color: white;
        background-clip: content-box;
        transition: opacity .6s ease;
}

/*****************/

/**************CAROUSEL-BLOG**************/ 
carousel-item {
    position: relative;
    display: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

/*BARRE DE DEFILEMENT*/
.blog .carousel-indicators li{
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%;
        background-color: black;
        background-clip: content-box;
        transition: opacity .6s ease;
}
.blog .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -90px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
/*********************/

footer .logos{
    max-width: 164px;
    width: 100%;
}

footer  .border-dark{
        border-color: #252525!important;
}

.contact .border-light{
    border-color: #ececec!important;
}

/**********FORMULAIRE***********/
.form-row{
    padding-top: 113px;
}
.form-group-1{
    width: 320px;
    height: 48px;
}
textarea{
    resize: none;
    height: 170px;
    width: 80%; 
}

.contact .bouton{
    width: 180px;
}
/************/

@media screen and (max-width : 1200px){


}

@media screen and (max-width : 992px){
    
}

@media screen and (max-width : 768px){
   footer .img-2{
       display: none;
   }
footer .img-1{
        padding-right: 10px;
        
    }
    
   
    footer .col-md-4{
        padding-bottom: 25px;
    }
}

@media screen and (max-width : 576px){
    .bloc-insta{
        display: none;
    }

}